/* navbar icons */
/* Followers page - avatar icon */
/* Homepage - Suggestions - avatar icon */
.icon-sm {
    font-size: 2rem;
}

/* Large */
/* profile icon */
.icon-lg {
    font-size: 9rem;
}

/* delete post (modal) */
.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* Like button */
.fa-heart {
    font-size: 1.5rem;
}

/* EXTRA SMALL FONT SIZE */
/* data - body.blade.php */
/* date, delete - comments.blade.php */
/* date - post/show.blade.php */
.xsmall {
    font-size: 0.65rem;
}

/* Show posts at Profile page */
.grid-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Profile avatar */
.avatar-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* Nav Avatar */
/* Followers page - avater */
/* Homepage - Suggestions - avatar icon */
.avatar-sm {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

/* Profile Overview - avatar */
/* Admin Users - avatar */
/* Explore People - avatar */
.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

/* Profile Overview - icon */
/* Admin Users - avatar */
/* Explore People - avatar */
.icon-md {
    font-size: 3.5rem;
}