/* navbar icons */
.icon-sm {
    font-size: 2rem;
}

/* Large */
.icon-lg {
    font-size: 9rem;
}

/* delete post (modal) */
.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

/* Like button */
.fa-heart {
    font-size: 1.5rem;
}

/* EXTRA SMALL FONT SIZE */
/* data - body.blade.php */
/* date, delete - comments.blade.php */
/* date - post/show.blade.php */
.xsmall {
    font-size: 0.65rem;
}

/* Show posts at Profile page */
.grid-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}